<h1>{{ song.name }}</h1>
{% if song.alias %}
    <h3>又名{{ song.alias }}</h3>
{% endif %}
<p>歌手：</p>
<ul>
    {% for artist in song.artist.all %}
        {% if artist.original_url %}
            <li><a href="{% url 'song:artist_detail' artist.id %}">{{ artist.name }}</a></li>
        {% else %}
            <li>{{ artist.name }}</li>
        {% endif %}
    {% endfor %}
</ul>
<p><a href="{{ song.original_url }}">原歌曲网站</a></p>
<p>歌词：</p>
{{ song.lyrics|safe }}
<p>评论：</p>
{% if comments %}
    {% for comment in comments %}
        <fieldset>
            <legend><h4>{{ comment.user }}</h4></legend>
            <p>发布时间：{{ comment.pub_date }}</p>
            <p>内容：{{ comment.comment_text }}</p>
            <form method="post" action="{% url 'song:delete_comment' comment.id %}">
                {% csrf_token %}
                <input type="hidden" name="song_id" value="{{ song.id }}">
                <input type="submit" value="删除">
            </form>
        </fieldset>
    {% endfor %}
{% else %}
<p>暂无评论</p>
{% endif %}
<form action="{% url 'song:song_comment' song.id %}" method="post">
    {% csrf_token %}
    {% if error_message %}
        {{ error_message }}
    {% endif %}
    用户名: <input type="text" name="user">
    内容：<input type="text" name="comment_text">
    <input type="submit" value="提交">
</form>