<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歌曲列表</title>
    <link rel="stylesheet" href="{% static 'song/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'song/css/songcard.css' %}">
</header>
<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li class="nav-item">
                <a class="nav-active-link" href="{% url 'song:song_list' %}">歌曲</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'song:artist_list' %}">歌手</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'song:check' %}">搜索</a>
            </li>
        </ul>
    </nav>
    <div class="song-list">
        {% if all_songs_list %}
            <ul class="song-menu">
                {% for song in all_songs_list %}
                    <li class="song-item">
                        <div class="song-block">
                            <div class="song-image-component">
                                {% with 'song/images/song'|add:song.original_id|add:'.jpg' as image_path %}
                                <a href="{% url 'song:song_detail' song.id %}">
                                    <img
                                        src="{% static image_path %}"
                                        alt="歌曲图片"
                                        class="song-image"
                                    >
                                </a>
                                {% endwith %}
                            </div>

                            <div class="song-intro">
                                <h2 class="song-name">
                                    <a href="{% url 'song:song_detail' song.id %}">{{ song.name }}</a>
                                </h2>
                                <p>歌手：</p>
                                <ul class="song-artists">
                                    {% for artist in song.artist.all %}
                                        <li class="song-artist">{{ artist.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No songs</p>
        {% endif %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; 首页</a>
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current">
                第{{ page_obj.number }}页，共{{ page_obj.paginator.num_pages }}页
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">尾页 &raquo;</a>
            {% endif %}

            <form method="get">
                <input
                    type="number"
                    name="page"
                    min="1"
                    max="{{ page_obj.pagination.num_pages }}"
                    placeholder="页码"
                    required
                >
                <button type="submit">跳转</button>
            </form>
        </span>
    </div>
</body>
</html>